---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle="Mon blog d'apprentissage d'Astro">
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
        {allPosts.map(({url, frontmatter: {title}}: any) => <BlogPost {url} {title} />)}
    </ul>
</BaseLayout>