---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'

const allPosts = await getCollection('blog')
---
<BaseLayout pageTitle="Mon blog d'apprentissage d'Astro">
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
        {allPosts.map((post) => (
            <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
        ))}
    </ul>
</BaseLayout>