---
const platform = "github"
const username = "opack"
const linkedin = "didier-demange"
---

<footer>
    <p>Apprenez-en plus sur mes projets sur <a href={`https://www.${platform}.com/${username}`}>{platform}</a> !</p>
    <p>Consultez mon profil <a href={`https://www.linkedin.com/in/${linkedin}/`}>LinkedIn</a> !</p>
</footer>